In [73]:
import pandas as pd
import numpy as np

In [74]:
import pandas as pd

df = pd.read_csv("sales_data.csv",engine="python",header=None,names=["Order ID","Product","Quantity Ordered","Price Each","Order Date","Street","City","State Zip"])

In [75]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Street', 'City', 'State Zip'],
      dtype='object')

In [76]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State Zip
0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,None,None
1,1001,USB-C Cable,2,11.95,01/01/23 10:00,917 1st St,Dallas,TX 75001
2,1002,Macbook Pro Laptop,1,1700,01/02/23 12:00,682 Chestnut St,Boston,MA 02215
3,1003,USB-C Cable,1,NaN,01/05/23 11:30,123 Main St,Austin,TX 73301
4,1004,AAA Batteries (4-pack),3,2.99,01/10/23 09:15,456 Elm St,San Francisco,CA 94016
5,NaN,NaN,NaN,NaN,NaN,NaN,None,None
6,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00,789 Maple St,Los Angeles,CA 90001
7,1006,ThinkPad Laptop,1,999.99,02/05/23 16:20,321 Oak St,New York,NY 10001
8,1007,USB-C Cable,1,11.95,02/10/23 08:45,654 Pine St,Atlanta,GA 30301
9,1008,ThinkPad Laptop,1,NaN,02/15/23 13:00,987 Cedar St,Portland,OR 97035
10,1009,Lightning Cable,1,14.95,03/01/23 10:00,111 Birch St,Seattle,WA 98101
11,1010,Lightning Cable,3,14.95,03/05/23 12:30,222 Walnut St,Miami,FL 33101
12,1011,AAA Batteries (4-pack),1,2.99,03/10/23 15:45,333 Cherry St,Denver,CO 80201

In [77]:
df = df.iloc[1:].reset_index(drop=True)

In [78]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State Zip
0,1001,USB-C Cable,2,11.95,01/01/23 10:00,917 1st St,Dallas,TX 75001
1,1002,Macbook Pro Laptop,1,1700,01/02/23 12:00,682 Chestnut St,Boston,MA 02215
2,1003,USB-C Cable,1,NaN,01/05/23 11:30,123 Main St,Austin,TX 73301
3,1004,AAA Batteries (4-pack),3,2.99,01/10/23 09:15,456 Elm St,San Francisco,CA 94016
4,NaN,NaN,NaN,NaN,NaN,NaN,None,None
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00,789 Maple St,Los Angeles,CA 90001
6,1006,ThinkPad Laptop,1,999.99,02/05/23 16:20,321 Oak St,New York,NY 10001
7,1007,USB-C Cable,1,11.95,02/10/23 08:45,654 Pine St,Atlanta,GA 30301
8,1008,ThinkPad Laptop,1,NaN,02/15/23 13:00,987 Cedar St,Portland,OR 97035
9,1009,Lightning Cable,1,14.95,03/01/23 10:00,111 Birch St,Seattle,WA 98101
10,1010,Lightning Cable,3,14.95,03/05/23 12:30,222 Walnut St,Miami,FL 33101
11,1011,AAA Batteries (4-pack),1,2.99,03/10/23 15:45,333 Cherry St,Denver,CO 80201

In [79]:
df["Purchase Address"] = (df["Street"].astype(str) + ", " + df["City"].astype(str) + ", " +df["State Zip"].astype(str))

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State Zip,Purchase Address
0,1001,USB-C Cable,2,11.95,01/01/23 10:00,917 1st St,Dallas,TX 75001,"917 1st St, Dallas, TX 75001"
1,1002,Macbook Pro Laptop,1,1700,01/02/23 12:00,682 Chestnut St,Boston,MA 02215,"682 Chestnut St, Boston, MA 02215"
2,1003,USB-C Cable,1,NaN,01/05/23 11:30,123 Main St,Austin,TX 73301,"123 Main St, Austin, TX 73301"
3,1004,AAA Batteries (4-pack),3,2.99,01/10/23 09:15,456 Elm St,San Francisco,CA 94016,"456 Elm St, San Francisco, CA 94016"
4,NaN,NaN,NaN,NaN,NaN,NaN,None,None,"nan, None, None"
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00,789 Maple St,Los Angeles,CA 90001,"789 Maple St, Los Angeles, CA 90001"
6,1006,ThinkPad Laptop,1,999.99,02/05/23 16:20,321 Oak St,New York,NY 10001,"321 Oak St, New York, NY 10001"
7,1007,USB-C Cable,1,11.95,02/10/23 08:45,654 Pine St,Atlanta,GA 30301,"654 Pine St, Atlanta, GA 30301"
8,1008,ThinkPad Laptop,1,NaN,02/15/23 13:00,987 Cedar St,Portland,OR 97035,"987 Cedar St, Portland, OR 97035"
9,1009,Lightning Cable,1,14.95,03/01/23 10:00,111 Birch St,Seattle,WA 98101,"111 Birch St, Seattle, WA 98101"
10,1010,Lightning Cable,3,14.95,03/05/23 12:30,222 Walnut St,Miami,FL 33101,"222 Walnut St, Miami, FL 33101"
11,1011,AAA Batteries (4-pack),1,2.99,03/10/23 15:45,333 Cherry St,Denver,CO 80201,"333 Cherry St, Denver, CO 80201"

In [80]:
df=df.drop(columns=["Street", "City", "State Zip"])

In [47]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,1001,USB-C Cable,2,11.95,01/01/23 10:00,"917 1st St, Dallas, TX 75001"
1,1002,Macbook Pro Laptop,1,1700,01/02/23 12:00,"682 Chestnut St, Boston, MA 02215"
2,1003,USB-C Cable,1,NaN,01/05/23 11:30,"123 Main St, Austin, TX 73301"
3,1004,AAA Batteries (4-pack),3,2.99,01/10/23 09:15,"456 Elm St, San Francisco, CA 94016"
4,NaN,NaN,NaN,NaN,NaN,"nan, None, None"
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00,"789 Maple St, Los Angeles, CA 90001"
6,1006,ThinkPad Laptop,1,999.99,02/05/23 16:20,"321 Oak St, New York, NY 10001"
7,1007,USB-C Cable,1,11.95,02/10/23 08:45,"654 Pine St, Atlanta, GA 30301"
8,1008,ThinkPad Laptop,1,NaN,02/15/23 13:00,"987 Cedar St, Portland, OR 97035"
9,1009,Lightning Cable,1,14.95,03/01/23 10:00,"111 Birch St, Seattle, WA 98101"
10,1010,Lightning Cable,3,14.95,03/05/23 12:30,"222 Walnut St, Miami, FL 33101"
11,1011,AAA Batteries (4-pack),1,2.99,03/10/23 15:45,"333 Cherry St, Denver, CO 80201"

In [81]:
df = df.dropna(axis=0, subset=['Order ID'])
df = df.dropna(axis=0, subset=['Product'])

In [82]:
df["Price Each"] =df["Price Each"].astype(float)

In [83]:
mean_p = df.groupby("Product")["Price Each"].mean()
df["Price Each"] = df["Price Each"].fillna(df["Product"].map(mean_p))

In [84]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,1001,USB-C Cable,2,11.95,01/01/23 10:00,"917 1st St, Dallas, TX 75001"
1,1002,Macbook Pro Laptop,1,1700.00,01/02/23 12:00,"682 Chestnut St, Boston, MA 02215"
2,1003,USB-C Cable,1,11.95,01/05/23 11:30,"123 Main St, Austin, TX 73301"
3,1004,AAA Batteries (4-pack),3,2.99,01/10/23 09:15,"456 Elm St, San Francisco, CA 94016"
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00,"789 Maple St, Los Angeles, CA 90001"
6,1006,ThinkPad Laptop,1,999.99,02/05/23 16:20,"321 Oak St, New York, NY 10001"
7,1007,USB-C Cable,1,11.95,02/10/23 08:45,"654 Pine St, Atlanta, GA 30301"
8,1008,ThinkPad Laptop,1,999.99,02/15/23 13:00,"987 Cedar St, Portland, OR 97035"
9,1009,Lightning Cable,1,14.95,03/01/23 10:00,"111 Birch St, Seattle, WA 98101"
10,1010,Lightning Cable,3,14.95,03/05/23 12:30,"222 Walnut St, Miami, FL 33101"
11,1011,AAA Batteries (4-pack),1,2.99,03/10/23 15:45,"333 Cherry St, Denver, CO 80201"

In [87]:
df["Order Date"] = pd.to_datetime(df["Order Date"])

In [88]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,1001,USB-C Cable,2,11.95,2023-01-01 10:00:00,"917 1st St, Dallas, TX 75001"
1,1002,Macbook Pro Laptop,1,1700.00,2023-01-02 12:00:00,"682 Chestnut St, Boston, MA 02215"
2,1003,USB-C Cable,1,11.95,2023-01-05 11:30:00,"123 Main St, Austin, TX 73301"
3,1004,AAA Batteries (4-pack),3,2.99,2023-01-10 09:15:00,"456 Elm St, San Francisco, CA 94016"
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00:00,"789 Maple St, Los Angeles, CA 90001"
6,1006,ThinkPad Laptop,1,999.99,2023-02-05 16:20:00,"321 Oak St, New York, NY 10001"
7,1007,USB-C Cable,1,11.95,2023-02-10 08:45:00,"654 Pine St, Atlanta, GA 30301"
8,1008,ThinkPad Laptop,1,999.99,2023-02-15 13:00:00,"987 Cedar St, Portland, OR 97035"
9,1009,Lightning Cable,1,14.95,2023-03-01 10:00:00,"111 Birch St, Seattle, WA 98101"
10,1010,Lightning Cable,3,14.95,2023-03-05 12:30:00,"222 Walnut St, Miami, FL 33101"
11,1011,AAA Batteries (4-pack),1,2.99,2023-03-10 15:45:00,"333 Cherry St, Denver, CO 80201"

In [94]:
#1
df["Total Sales"]=(df["Quantity Ordered"].astype(float))*df["Price Each"]

In [95]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Sales
0,1001,USB-C Cable,2,11.95,2023-01-01 10:00:00,"917 1st St, Dallas, TX 75001",23.90
1,1002,Macbook Pro Laptop,1,1700.00,2023-01-02 12:00:00,"682 Chestnut St, Boston, MA 02215",1700.00
2,1003,USB-C Cable,1,11.95,2023-01-05 11:30:00,"123 Main St, Austin, TX 73301",11.95
3,1004,AAA Batteries (4-pack),3,2.99,2023-01-10 09:15:00,"456 Elm St, San Francisco, CA 94016",8.97
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00:00,"789 Maple St, Los Angeles, CA 90001",5.98
6,1006,ThinkPad Laptop,1,999.99,2023-02-05 16:20:00,"321 Oak St, New York, NY 10001",999.99
7,1007,USB-C Cable,1,11.95,2023-02-10 08:45:00,"654 Pine St, Atlanta, GA 30301",11.95
8,1008,ThinkPad Laptop,1,999.99,2023-02-15 13:00:00,"987 Cedar St, Portland, OR 97035",999.99
9,1009,Lightning Cable,1,14.95,2023-03-01 10:00:00,"111 Birch St, Seattle, WA 98101",14.95
10,1010,Lightning Cable,3,14.95,2023-03-05 12:30:00,"222 Walnut St, Miami, FL 33101",44.85
11,1011,AAA Batteries (4-pack),1,2.99,2023-03-10 15:45:00,"333 Cherry St, Denver, CO 80201",2.99

In [98]:
#2
df["month"] = df["Order Date"].dt.month
monthly_rev= df.groupby("month")["Total Sales"].sum()

In [99]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Sales,Month,month
0,1001,USB-C Cable,2,11.95,2023-01-01 10:00:00,"917 1st St, Dallas, TX 75001",23.90,1,1
1,1002,Macbook Pro Laptop,1,1700.00,2023-01-02 12:00:00,"682 Chestnut St, Boston, MA 02215",1700.00,1,1
2,1003,USB-C Cable,1,11.95,2023-01-05 11:30:00,"123 Main St, Austin, TX 73301",11.95,1,1
3,1004,AAA Batteries (4-pack),3,2.99,2023-01-10 09:15:00,"456 Elm St, San Francisco, CA 94016",8.97,1,1
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00:00,"789 Maple St, Los Angeles, CA 90001",5.98,2,2
6,1006,ThinkPad Laptop,1,999.99,2023-02-05 16:20:00,"321 Oak St, New York, NY 10001",999.99,2,2
7,1007,USB-C Cable,1,11.95,2023-02-10 08:45:00,"654 Pine St, Atlanta, GA 30301",11.95,2,2
8,1008,ThinkPad Laptop,1,999.99,2023-02-15 13:00:00,"987 Cedar St, Portland, OR 97035",999.99,2,2
9,1009,Lightning Cable,1,14.95,2023-03-01 10:00:00,"111 Birch St, Seattle, WA 98101",14.95,3,3
10,1010,Lightning Cable,3,14.95,2023-03-05 12:30:00,"222 Walnut St, Miami, FL 33101",44.85,3,3
11,1011,AAA Batteries (4-pack),1,2.99,2023-03-10 15:45:00,"333 Cherry St, Denver, CO 80201",2.99,3,3

In [100]:
df.drop(columns=["Month"])

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Sales,month
0,1001,USB-C Cable,2,11.95,2023-01-01 10:00:00,"917 1st St, Dallas, TX 75001",23.90,1
1,1002,Macbook Pro Laptop,1,1700.00,2023-01-02 12:00:00,"682 Chestnut St, Boston, MA 02215",1700.00,1
2,1003,USB-C Cable,1,11.95,2023-01-05 11:30:00,"123 Main St, Austin, TX 73301",11.95,1
3,1004,AAA Batteries (4-pack),3,2.99,2023-01-10 09:15:00,"456 Elm St, San Francisco, CA 94016",8.97,1
5,1005,AAA Batteries (4-pack),2,2.99,2023-02-01 14:00:00,"789 Maple St, Los Angeles, CA 90001",5.98,2
6,1006,ThinkPad Laptop,1,999.99,2023-02-05 16:20:00,"321 Oak St, New York, NY 10001",999.99,2
7,1007,USB-C Cable,1,11.95,2023-02-10 08:45:00,"654 Pine St, Atlanta, GA 30301",11.95,2
8,1008,ThinkPad Laptop,1,999.99,2023-02-15 13:00:00,"987 Cedar St, Portland, OR 97035",999.99,2
9,1009,Lightning Cable,1,14.95,2023-03-01 10:00:00,"111 Birch St, Seattle, WA 98101",14.95,3
10,1010,Lightning Cable,3,14.95,2023-03-05 12:30:00,"222 Walnut St, Miami, FL 33101",44.85,3
11,1011,AAA Batteries (4-pack),1,2.99,2023-03-10 15:45:00,"333 Cherry St, Denver, CO 80201",2.99,3

In [101]:
monthly_rev

month
1    1744.82
2    2017.91
3      62.79
Name: Total Sales, dtype: float64

In [107]:
#3
sell = df.groupby(["Product", "month"])["Quantity Ordered"].sum()

In [108]:
sell

Product                 month
AAA Batteries (4-pack)  1         3
                        2         2
                        3         1
Lightning Cable         3        13
Macbook Pro Laptop      1         1
ThinkPad Laptop         2        11
USB-C Cable             1        21
                        2         1
Name: Quantity Ordered, dtype: object

In [109]:
df.to_csv("cleaned_sales.csv", index=False)